.basic {
    border: 5px solid #ffcc5c ;
    display: flex ; 
    flex-direction: row ;
    justify-content: space-around ;
    flex-wrap: wrap ;
}

.update {
    border: 5px solid #ffcc5c ;
    display: flex ; 
    flex-direction: row ;
    justify-content: space-around ;
    flex-wrap: wrap ;
}

.basic div {
    margin: 10px ;
    text-align: center ;
    font-size : 1.6em ;
    /* color : white ; */
}

.item1:hover {
    color: blue ;
    }

/* .button:hover {
    color: blue ;
    } */

    .button {
        border-radius: 4px;
        background-color: #f1cf0b;
        border: none;
        color: #000000;
        text-align: center;
        font-size: 15px;
        padding: 10px;
        width: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }    
