.basic {
    border: 5px solid #ffcc5c ;
    display: flex ; 
    flex-direction: row ;
    justify-content: space-around ;
    flex-wrap: wrap ;
    background-color: #ffffff;
}

.info_covid {
    /* border: 5px solid  #ffcc5c ; */
    display: flex ; 
    flex-direction: row ;
    justify-content: space-around ;
    flex-wrap: wrap ;
    background-color: #ffffff;
}


.update {
  
    border: 5px solid  #ffcc5c ;
    display: flex ; 
    flex-direction: row ;
    justify-content: space-around ;
    flex-wrap: wrap ;
    background-color: #ffffff;
}



.basic div {
    margin: 10px ;
    text-align: center ;
    font-size : 1.6em ;
    /* color : white ; */
}

.info_covid div {
  /* margin: 10px ;
  text-align: center ; */
  border: 2px solid  #feffdd ;
  font-size : 1.1em ;
}

.item1:hover {
    color: blue ;
    }

/* .button:hover {
    color: blue ;
    } */

    /* .button {
        border-radius: 4px;
        background-color: #f10b0b;
        border: none;
        color: #000000;
        text-align: center;
        font-size: 15px;
        padding: 10px;
        width: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }     */


     body {
        /* background: #2f2f31; */
         /* -webkit-transform: rotateX(0.003deg);  */
                /* transform: rotateX(0.003deg); */
        /* height: 100vh; */
        /* color: #fff;  */
      }
      .button {
         /* position: absolute;  */
        /* left: 50%; */
        /* top: 50%;  */
        -webkit-transform: translate(-2%, 1%);
                /* transform: translate(-50%, -50%); */
        color: #000000;
        /* text-decoration: none;  */
        /* font-size: 2em; */
        background: #fbff00;
        display: inline-block;
         font-family: Montserrat;
        text-transform: uppercase;
         /* padding: 0.5em 2em;  */
        border: 2px solid #000000;
        /* -webkit-transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1); */ 
         /* transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1); */ 
      }
      .button::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 100%;
        bottom: 0;
        background: #f7f7f7;
        -webkit-transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
        transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
        z-index: -1;
      }
      .button::after {
        content: "";
        display: inline-block;
        background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
        position: absolute;
        top: 0;
        left: calc(100% - 3em);
        right: 3em;
        bottom: 0;
        background-size: 1.5em;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
        transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
      }
      .button:hover {
        padding: 0.5em 3.5em 0.5em 0.5em;
      }
      .button:hover::before {
        left: calc(100% - 3em);
        right: 0;
        -webkit-transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
        transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
      }
      .button:hover::after {
        right: 0;
        -webkit-transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
        transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
      }
          



      @import url(https://fonts.googleapis.com/css?family=Exo:100);
      /* Background data (Original source: https://subtlepatterns.com/grid-me/) */
      /* Animations */
      @-webkit-keyframes bg-scrolling-reverse {
        100% {
          background-position: 50px 50px;
        }
      }
      @-moz-keyframes bg-scrolling-reverse {
        100% {
          background-position: 50px 50px;
        }
      }
      @-o-keyframes bg-scrolling-reverse {
        100% {
          background-position: 50px 50px;
        }
      }
      @keyframes bg-scrolling-reverse {
        100% {
          background-position: 50px 50px;
        }
      }
      @-webkit-keyframes bg-scrolling {
        0% {
          background-position: 50px 50px;
        }
      }
      @-moz-keyframes bg-scrolling {
        0% {
          background-position: 50px 50px;
        }
      }
      @-o-keyframes bg-scrolling {
        0% {
          background-position: 50px 50px;
        }
      }
      @keyframes bg-scrolling {
        0% {
          background-position: 50px 50px;
        }
      }
      /* Main styles */
      body {
        /* margin-top: 13.5rem; */
        /* color: #999; */
        /* font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif; */
        /* text-align: center; */
        /* img size is 50x50 */
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
        -webkit-animation: bg-scrolling-reverse 0.92s infinite;
        /* Safari 4+ */
        -moz-animation: bg-scrolling-reverse 0.92s infinite;
        /* Fx 5+ */
        -o-animation: bg-scrolling-reverse 0.92s infinite;
        /* Opera 12+ */
        animation: bg-scrolling-reverse 0.92s infinite;
        /* IE 10+ */
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        animation-timing-function: linear;
      }
      /* body::before { */
        /* content: "INFINITY"; */
        /* font-size: 8rem; */
        /* font-weight: 100; */
        /* font-style: normal; */
      /* } */
      





      @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

      /* body{
        background-image: url("https://images.pexels.com/photos/891252/pexels-photo-891252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        background-position: center;
          background-origin: content-box;
          background-repeat: no-repeat;
          background-size: cover;
        min-height:100vh;
        font-family: 'Noto Sans', sans-serif;
      }
      .text-center{
        color:#fff;	
        text-transform:uppercase;
          font-size: 23px;
          margin: -50px 0 80px 0;
          display: block;
          text-align: center; */
      /* } */
      .box{
        position:absolute;
        left:50%;
        top:75%;
        transform: translate(-50%,-50%);
          background-color: rgba(0, 0, 0, 0.89);
        border-radius:3px;
        padding:20px 100px;
      }
       .box2{
        position:absolute;
        left:50%;
        top:53%;
        transform: translate(-50%,-50%);
          background-color: rgba(0, 0, 0, 0.89);
        border-radius:3px;
        padding:20px 100px;
      }
      .input-container{
        position:relative;
        margin-bottom:25px;
      }
      .input-container label{
        position:absolute;
        top:0px;
        left:0px;
        font-size:16px;
        color:#fff;	
          pointer-event:none;
        transition: all 0.5s ease-in-out;
      }
      .input-container input{ 
        border:0;
        border-bottom:1px solid #555;  
        background:transparent;
        width:100%;
        padding:8px 0 5px 0;
        font-size:16px;
        color:#fff;
      }
      .input-container input:focus{ 
       border:none;	
       outline:none;
       border-bottom:1px solid #e74c3c;	
      }
      .btnn{
        color:#fff;
        background-color:#e74c3c;
        outline: none;
          border: 0;
          color: #fff;
        padding:10px 20px;
        text-transform:uppercase;
        margin-top:10px;
        border-radius:2px;
        cursor:pointer;
        position:relative;
      }
      /*.btn:after{
        content:"";
        position:absolute;
        background:rgba(0,0,0,0.50);
        top:0;
        right:0;
        width:100%;
        height:100%;
      }*/
      .input-container input:focus ~ label,
      .input-container input:valid ~ label{
        top:-12px;
        font-size:12px;
        
      }
            

      @import url('https://fonts.googleapis.com/css?family=Montserrat');

      /* body {
          font-family: Montserrat;
          font-size: 12px;
          text-align: center;
          padding: 50px;
          background: #1c1c1c;
          display: flex;
          align-items: center;
          justify-content: center;
      }  */
      
      /* .count {
        display: block;
        font-size: 24px;
        color: #000000;
        padding: 60px;
        font-weight: 600;
        width: 120px;
      } */
      
      /* .container {
        display: flex;
      }       */