{% extends 'covid_19/base.html'%}
{% block content %}



<html lang="en">
<head>
      
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<br>
        <form action=" " method="post">{% csrf_token %}
           <div class="form-control" {{form}} </div>
        <p> <button class="button"><span>Submit </span></button> </p>
        
        </form>
       
       <br>

       <div class="update">
       last update of data of covid_19 <br> days ➟ {{days }} 
       time ➟ {{time }} 
       </div>


<hr>
        <div class="basic">
       <div class="item1">   Continent  ➟ {{continent }}  </div>
       <div class="item1">    Country    ➟ {{ country}}  </div>  
       <div class="item1"> Total Cases ➟ <d class="counter"data-target={{total_cases}}>0</d>  </div>  
       </div>    
<hr>
       <div class="info_covid">
      <div>
       Population     ➟ <d class="counter"data-target={{population}}>0</d> <br> 
       New Cases       ➟ <d class="counter"data-target={{new_cases}}>0</d> <br>
       Active Cases    ➟ <d class="counter"data-target={{active_cases }}>0</d> <br>
       Critical Cases  ➟ <d class="counter"data-target={{critical_cases }}>0</d> <br>
       Recovered Cases ➟ <d class="counter"data-target={{recovered_cases }}>0</d> <br>
       Case_1M_pop     ➟ <d class="counter"data-target={{case_1M_pop }}>0</d> <br> </div> 
       
<hr>
      <div>
       New Deaths    ➟ <d class="counter"data-target={{new_deaths }}>0</d> <br>
       Deaths_1M_pop ➟ <d class="counter"data-target={{deaths_1M_pop }}>0</d> <br>
       Total Deaths  ➟ <d class="counter"data-target={{total_deaths }}>0</d> <br> </div> 
<hr>
       <div>
       test_1M_pop ➟ <d class="counter"data-target={{test_1M_pop }}>0</d> <br>
       Total       ➟ <d class="counter"data-target={{total }}>0</d>  <br> </div> 
<hr>

{% comment %} {% for a in topcun %}
      <li> aditya {{ a }} </li>
 {% endfor %} {% endcomment %}
<hr>
<hr>



<script>
var endpoint = '/chart/'

$.ajax({
    method: "GET"
    url: endpoint
    success: function(data) {
        console.log(data)
    }
})

</script>



<canvas id="myChart" width="500" height="280"></canvas>
<script>
 var topcon = JSON.parse("{{topcon|escapejs}}");
 var topnum = JSON.parse("{{topnum|escapejs}}");


var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: topcon,
        datasets: [{
            label: '# Total number of case',
            data: topnum,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>



</body>
</html>

{% endblock content %}