{% extends 'covid_19/base.html'%}
{% block content %}



<form action="/details" method="post">{% csrf_token %}
           <div class="form-control" {{form}} </div>
        <p> <button class="button"><span>Submit </span></button> </p>
        
        </form>





<script>
var endpoint = '/chart/'

$.ajax({
    method: "GET"
    url: endpoint
    success: function(data) {
        console.log(data)
    }
})

</script>



<canvas id="myChart" width="500" height="280"></canvas>
<script>
 var topcon = JSON.parse("{{topcon|escapejs}}");
 var topnum = JSON.parse("{{topnum|escapejs}}");


var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: topcon,
        datasets: [{
            label: '# Total number of case',
            data: topnum,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>





{% endblock content %}